.DeckPreview {
    text-align: center;
}

.DeckPreviewHeader {
    margin-top: 50px;
    margin-bottom: 50px;
}

.EditFlashcardButton {
    margin-bottom: 10px;
    margin-top: 10px;
}

.DeleteFlashcardButton {
    margin-bottom: 10px;
    margin-top: 10px;
}

.DeckPreviewCollapse {
    width: 100%;
    display: flex;
    justify-content: center;
}