.DeckPreview {
    text-align: center;
}

.DeckPreviewHeader {
    margin-top: 50px;
    margin-bottom: 50px;
}

.PreviewCol {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.DeckPreviewCollapse {
    width: 100%;
    display: flex;
    justify-content: center;
}

.DeckPreviewBackButton {
    margin-right: 1px;
}

.NewCardButton {
    margin-left: 1px;
}