.DeckPreview {
    text-align: center;
}

.DeckPreviewHeader {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(250, 152, 125);
}

.PreviewContainer {
    margin-top: 5px;
    padding-top: 15px;
    background-color: rgba(114, 204, 167, 0.8);
}

.PreviewCol {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.DeckPreviewCollapse {
    width: 100%;
    display: flex;
    justify-content: center;
}

.DeckPreviewBackButton {
    margin-right: 1px;
    margin-bottom: 20px;
}

.NewCardButton {
    margin-left: 1px;
    margin-bottom: 20px;
}