.Flashcard-Text {
    color: #D2FDFF;
    font-size: 30px;
}

.Card-Front {
    width: 220px;
    height: 300px;
    background-color: #303C6C;
    border: 25px solid #B4DFE5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card-Back {
    width: 220px;
    height: 300px;
    background-color: #303C6C;
    border: 25px solid #B4DFE5;
    display: flex;
    justify-content: center;
    align-items: center;
}