.Flashcard {
    width: 220px;
    height: 300px;
    background-color: #303C6C;
    border: 25px solid #B4DFE5;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#isRotated {
     transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}

.Flashcard-Text {
    color: #D2FDFF;
    font-size: 30px;
    padding-top: 75px;
}

.Card-Front {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.Card-Back {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}