.NewCardForm {
    width: 250px;
    min-height: 250px;
    background-color: white;
    border: 1px solid lightgray;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}