.StudyPage {
    text-align: center;
}

.StudyPageHeader {
    margin-top: 50px;
    margin-bottom: 50px;
}

.StudyPageCardContainer {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.StudyPageCardContainer button {
    width: 200px;
    height: 75px;
}

.DeckPreviewBackButton {
    margin-left: 1px;
}

.ShuffleDeckButton {
    margin-right: 1px;
}