.HomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.HomeHeader {
    margin-top: 100px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}