.DeckList {
    text-align: center;
    height: 100%;
}

.DeckListHeader {
    margin-top: 50px;
    margin-bottom: 25px;
}

h1 {
    margin-bottom: 25px;
}

.NewDeckButton {
    margin-bottom: 20px;
}

.DeckListCollapse {
    display: flex;
    justify-content: center;
}

.DeckPreviewPanel {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.DeckSpread {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px
}

.DeckPreviewHomeLink {
    background-color: gray;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}