html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

div#root {
  min-height: 100%;
  background: url('./DeckPreview/FlashcardSVGbackground.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  min-height: 100vh;
}